.card-text {
    color: rgb(64, 226, 78)
}
.card-title{
    color: rgb(194, 96, 194);
}
.price{
    color: white;

}
.card-button{
    
    border-radius: 10%;
    background-color: blueviolet;
    box-shadow: 4px 3px 5px 1px gray;
    
    
}
.card{
    box-shadow: 3px 1px 3px 4px rgb(198, 93, 240);
    
}
.product--image{
    border-radius: 2%;
}